body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0px;
}

header {
	display: flex;
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0px;
	margin: 0px;
	background-color: rgb(255, 255, 255);
	z-index: 5;
}

#logo {
	color: black;
	font-family: sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 7%;
	transform: translate(0%, -50%);
	cursor: pointer;
	user-select: none;
}

#menu {
	display: none;
	height: 100%;
	width: 25%;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	right: calc(6% + 80px);
}

.menuLink {
	font-family: sans-serif;
	font-size: 15px;
	cursor: pointer;
	transition: 150ms;
	color: black;
}

.menuLink:hover {
	transition: 150ms;
	color: #888888;
}

#homeLink {
	text-decoration-line: underline;
}

#hamburgerBtn {
	display: flex;
	height: 30px;
	width: 30px;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	top: 50%;
	right: 6%;
	transform: translate(0%, -50%);
	cursor: pointer;
}

.hamburgerBar {
	height: 14%;
	width: 100%;
	background-color: black;
	border-radius: 1000px;
}

#menuX {
	display: none;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 50%;
	right: 6%;
	transform: translate(0%, -50%);
	cursor: pointer;
}

#menuXLine1 {
	position: absolute;
	top: 50%;
	right: 2px;
	transform: translate(0%, -50%);
	rotate: 45deg;
}

#menuXLine2 {
	position: absolute;
	top: 50%;
	left: 1px;
	transform: translate(0%, -50%);
	rotate: -45deg;
}

#headerLine {
	display: inline;
	height: 1%;
	width: 90%;
	background-color: black;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%, 0%);
}

#body {
	display: inline;
	height: auto;
	width: 100%;
	margin: 0px;
	margin-top: 80px;
}

@keyframes fadein-h1 {
	from {color: white; margin-top: 15%;}
	to {color: black; margin-top: 6%;}
}

@keyframes fadein-bio {
	from {color: white;}
	to {color: black;}
}

#home {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#home-h1 {
	font-family: sans-serif;
	font-size: 100px;
	font-weight: normal;
	color: white;
	user-select: none;
	text-align: center;
	margin: 0px;
	margin-top: 15%;
	margin-bottom: 6%;
	animation-name: fadein-h1;
	animation-duration: 1.3s;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}

#home-bio {
	font-family: sans-serif;
	font-size: 35px;
	font-weight: normal;
	color: white;
	text-align: center;
	user-select: none;
	margin: 0px;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 20%;
	animation-name: fadein-bio;
	animation-duration: 1.3s;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}

#home-workDiv {
	display: flex;
	width: 60%;
	margin: 0px;
	margin-bottom: 10%;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5%;
}

.home-work-intro {
	font-family: sans-serif;
	font-size: 35px;
	font-weight: normal;
	margin: 0px;
	text-align: center;
	user-select: none;
}

#home-workLink {
	color: #0000EE;
	margin: 0px;
	text-decoration: underline;
	cursor: pointer;
}

#home-preview-card {
	display: flex;
	height: 394px;
	width: 700px;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;
	background-color: black;
	margin: 0px;
	margin-bottom: 10%;
}

#home-preview-card-arrowRight {
	display: flex;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	margin-right: 3%;
	background-color: white;
	cursor: pointer;
	order: 2;
}

#home-preview-card-arrowLeft {
	display: flex;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	margin-left: 3%;
	background-color: white;
	cursor: pointer;
	order: 1;
	visibility: hidden;
}

#work {
	display: none;
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#work-h1 {
	font-family: sans-serif;
	font-size: 50px;
	font-weight: normal;
	text-align: center;
	margin: 0px;
	margin-top: 5%;
	margin-bottom: 10%;
	margin-left: 20%;
	margin-right: 20%;
}

#work-examples {
	display: grid;
	gap: 30px;
	justify-content: center;
	align-items: center;
	grid-template-rows: 400px 400px 400px;
	grid-template-columns: 750px auto;
	margin: 0px;
	margin-bottom: 10%;
}

.workExamples {
	display: flex;
	height: 394px;
	width: 700px;
	border-radius: 20px;
}

#work-example-1 {
	background-color: black;
}

#work-example-2 {
	background-color: gray;
}

#work-example-3 {
	background-color: blue;
}

.workExamplesBtn {
	display: flex;
	height: 80px;
	width: 200px;
	border-radius: 50px;
	background-color: green;
	cursor: pointer;
}

#aboutme {
	display: none;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#contact {
	display: none;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

footer {
	display: flex;
	height: 100px;
	width: 100%;
	margin: 0px;
	align-items: center;
	background-color: #606060;
}

#email {
	font-family:sans-serif;
	font-size: 15px;
	margin-left: 5%;
	color: #0000EE;
}
