body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0px;
	overflow-anchor: none;
	background-color: #1c1c1c;
}

header {
	display: flex;
	height: 10vh;
	width: 100%;
	position: fixed;
	align-items: center;
	top: 0px;
	margin: 0px;
	background-color: #1c1c1c;
	z-index: 5;
}

#logo {
	color: white;
	font-family: sans-serif;
	font-size: 150%;
	font-weight: normal;
	margin: 0px;
	margin-left: 7%;
	cursor: pointer;
	user-select: none;
}

nav {
	display: none;
	height: 100%;
	width: 30%;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	right: calc(9% + 25px);
}

.nav_link {
	font-family: sans-serif;
	font-size: 15px;
	cursor: pointer;
	user-select: none;
	transition: 150ms;
	color: white;
}

.nav_link:hover {
	transition: 150ms;
	color: #aaaaaa;
}

#home_link {
	text-decoration-line: underline;
}

.light_dark_mode_switch {
	height: 25px;
	width: 25px;
	position: absolute;
	top: 50%;
	right: calc(9% + 25px);
	transform: translate(0, -50%);
	cursor: pointer;
}

#switch_to_dark_mode {
	display: none;
	background-image: url('assets/light_dark_switch/moon.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#switch_to_light_mode {
	display: flex;
	background-image: url('assets/light_dark_switch/sun.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#burger_btn {
	display: flex;
	height: 25px;
	width: 25px;
	position: absolute;
	top: 50%;
	right: 6%;
	transform: translate(0%, -50%);
	background-image: url('assets/icons/burger_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	cursor: pointer;
}

#nav_close_btn {
	display: none;
	height: 25px;
	width: 25px;
	position: absolute;
	top: 50%;
	right: 6%;
	transform: translate(0%, -50%);
	background-image: url('assets/icons/nav_close_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	cursor: pointer;
}

#header_line {
	display: flex;
	height: 2%;
	width: 90%;
	background-color: white;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%, 0%);
}

main {
	display: flex;
	width: 100%;
	margin: 0px;
	margin-top: 10vh;
	background-color: #1c1c1c;
}

@keyframes fadein-h1 {
	from {color: #1c1c1c; margin-top: 20%;}
	to {color: white; margin-top: 10%;}
}

@keyframes fadein-bio {
	from {color: #1c1c1c;}
	to {color: white;}
}

#home {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#home_h1 {
	font-family: sans-serif;
	font-size: 100px;
	font-weight: normal;
	color: #1c1c1c;
	user-select: none;
	text-align: center;
	margin: 0px;
	margin-top: 15%;
	margin-bottom: 6%;
	animation-name: fadein-h1;
	animation-duration: 1.3s;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}

#home_bio {
	font-family: sans-serif;
	font-size: 35px;
	font-weight: normal;
	color: #1c1c1c;
	text-align: center;
	user-select: none;
	margin: 0px;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 20%;
	animation-name: fadein-bio;
	animation-duration: 1.3s;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}

#home_work_div {
	display: flex;
	width: 60%;
	margin: 0px;
	margin-bottom: 10%;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5%;
}

.home_work_intro {
	font-family: sans-serif;
	font-size: 35px;
	font-weight: normal;
	margin: 0px;
	color: white;
	text-align: center;
	user-select: none;
}

#home_work_link {
	color: #0000EE;
	margin: 0px;
	text-decoration-line: underline;
	cursor: pointer;
	user-select: none;
}

#home_preview_card {
	display: flex;
	height: 60vh;
	width: auto;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	background-image: url('assets/example_websites_previews/example_website_1');
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px;
	margin-bottom: 10%;
	aspect-ratio: 16 / 9;
}

#home_preview_card_arrow_left {
	display: flex;
	height: 50px;
	width: 50px;
	margin-right: 3%;
	background-image: url('assets/icons/arrow_left_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	order: 2;
}

#home_preview_card_arrow_right {
	display: flex;
	height: 50px;
	width: 50px;
	margin-right: 3%;
	background-image: url('assets/icons/arrow_right_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	order: 2;
}

#work {
	display: none;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#work_h1 {
	font-family: sans-serif;
	font-size: 80px;
	font-weight: normal;
	text-align: center;
	margin: 0px;
	margin-top: 8%;
	margin-bottom: 10%;
	color: white;
	user-select: none;
}

#work_examples_div {
	display: grid;
	gap: 10%;
	justify-content: center;
	align-items: center;
	grid-template-rows: 60vh 60vh 60vh;
	grid-template-columns: auto auto;
	margin: 0px;
	margin-bottom: 30%;
}

.work_examples {
	display: flex;
	height: 60vh;
	width: auto;
	border-radius: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	aspect-ratio: 16 / 9;
}

#work_example_1 {
	background-image: url('assets/example_websites_previews/example_website_1_dark.png');
	background-size: contain;
	background-repeat: no-repeat;
}

#work_example_2 {
	background-color: gray;
}

#work_example_3 {
	background-color: blue;
}

.work_examples_btn {
	display: flex;
	height: 80px;
	width: 250px;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	background-color: green;
	cursor: pointer;
	user-select: none;
}

.work_examples_btn_h1 {
	color: white;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: normal;
}

#aboutme {
	display: none;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#aboutme_h1 {
	font-family: sans-serif;
	font-size: 80px;
	font-weight: normal;
	text-align: center;
	margin: 0px;
	margin-top: 8%;
	margin-bottom: 10%;
	color: white;
	user-select: none;
}

#aboutme_dev {
	display: flex;
	height: auto;
	width: 100%;
	justify-content: center;
	margin: 0px;
	margin-bottom: 5%;
}

#aboutme_dev_text {
	display: flex;
	width: 60%;
	align-items: center;
	flex-direction: column;
}

#aboutme_dev_text_title {
	font-family: sans-serif;
	font-size: 60px;
	font-weight: normal;
	text-align: center;
	margin: 0px;
	margin-top: 3%;
	margin-bottom: 5%;
	color: white;
	user-select: none;
}

#aboutme_dev_text_text {
	font-family: sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	margin: 0px;
	margin-left: 3%;
	margin-right: 5%;
	margin-bottom: 3%;
	color: white;
	user-select: none;
}

#aboutme_dev_img {
	display: flex;
	width: 30%;
	flex-direction: column;
	background-image: url('assets/aboutme/timeline_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#aboutme_cubing {
	display: flex;
	height: auto;
	width: 100%;
	flex-direction: row-reverse;
	justify-content: center;
	margin: 0px;
	margin-bottom: 10%;
}

#aboutme_cubing_text {
	display: flex;
	width: 60%;
	align-items: center;
	flex-direction: column;
}

#aboutme_cubing_text_title {
	font-family: sans-serif;
	font-size: 60px;
	font-weight: normal;
	text-align: center;
	margin: 0px;
	margin-top: 3%;
	margin-bottom: 3%;
	color: white;
	user-select: none;
}

#aboutme_cubing_text_text {
	font-family: sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	margin: 0px;
	margin-left: 3%;
	margin-right: 5%;
	margin-bottom: 3%;
	color: white;
	user-select: none;
}

#aboutme_cubing_imgs {
	display: flex;
	width: 30%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#aboutme_cubing_imgs_solve_img {
	display: flex;
	width: 100%;
	margin-bottom: 5%;
	background-image: url('assets/aboutme/solve.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	aspect-ratio: 500 / 283;
}

#aboutme_cubing_imgs_algs_img {
	display: flex;
	width: 100%;
	background-image: url('assets/aboutme/algs.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	aspect-ratio: 200 / 83;
}

#contact {
	display: none;
	height: 60vh;
	width: 100%;
	flex-direction: column;
	align-items: center;
	color: white;
}

#contact_h1 {
	font-family: sans-serif;
	font-size: 80px;
	font-weight: normal;
	text-align: center;
	margin: 0px;
	margin-top: 8%;
	margin-bottom: 5%;
	color: white;
	user-select: none;
}

#contact_email {
	font-family: sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	margin: 0px;
	margin-bottom: 10%;
	margin-left: 20%;
	margin-right: 20%;
	color: white;
	user-select: none;
}

#example_website_1 {
	display: none;
	width: 100%;
	flex-direction: column;
	background-color: #1c1c1c;
	z-index: 200;
}

#example_website_1_header {
	display: flex;
	height: 15vh;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

#example_website_1_logo {
	display: flex;
	height: 65%;
	background-image: url('assets/example_logos/example_logo_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 0px;
	margin-left: 3%;
	cursor: pointer;
	aspect-ratio: 1 / 1;
}

#example_website_1_nav {
	display: flex;
	height: 100%;
	width: 50%;
	margin: 0px;
	margin-right: 5%;
	justify-content: space-between;
	align-items: center;
}

.example_website_1_nav_link {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: normal;
	user-select: none;
	cursor: pointer;
	transition: 150ms;
	color: white;
}

.example_website_1_nav_link:hover {
	transition: 150ms;
	color: #aaaaaa;
}

#example_website_1_home_link {
	text-decoration-line: underline;
}

#example_website_1_exit {
	font-family: sans-serif;
	font-size: 18px;
	font-weight: normal;
	user-select: none;
	cursor: pointer;
	transition: 150ms;
	color: white;
}

#example_website_1_exit:hover {
	transition: 150ms;
	color: #aaaaaa;
}

#example_website_1_main {
	display: flex;
	width: 100%;
}

#example_website_1_home {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#example_website_1_intro {
	display: flex;
	height: 55vh;
	width: 100%;
	margin-top: 5%;
}

#example_website_1_intro_img {
	display: flex;
	width: 50%;
	height: auto;
	background-image: url('assets/example_images/office_gradient.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	margin: 0px;
	aspect-ratio: 612 / 359;
}

#example_website_1_intro_hero {
	display: flex;
	width: 50%;
	height: auto;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	margin: 0px;
	aspect-ratio: 612 / 359;
}

#example_website_1_intro_hero_h1 {
	font-family: sans-serif;
	font-size: 50px;
	font-weight: normal;
	color: white;
	margin: 0px;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	text-align: center;
	user-select: none;
}

#example_website_1_intro_hero_btn {
	display: flex;
	height: 20%;
	width: 45%;
	align-items: center;
	border-radius: 1000px;
	background-color: green;
	cursor: pointer;
}

#example_website_1_intro_hero_btn_text {
	width: 100%;
	color: white;
	font-family: sans-serif;
	font-size: 30px;
	text-align: center;
	font-weight: normal;
	user-select: none;
}

#example_website_1_whyus {
	display: flex;
	height: auto;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	margin: 0px;
	margin-top: 20%;
}

#example_website_1_whyus_title {
	color: white;
	font-family: sans-serif;
	font-size: 60px;
	font-weight: normal;
	text-align: center;
	margin: 0px;
	margin-bottom: 3%;
	user-select: none;
}

#example_website_1_whyus_text {
	color: white;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	margin: 0px;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 10%;
	user-select: none;
}

#example_website_1_stats {
	display: flex;
	height: auto;
	width: 100%;
	flex-direction: column;
	margin: 0px;
	margin-top: 10%;
	margin-bottom: 10%;
}

#example_website_1_stats_companies {
	display: flex;
	height: auto;
	width: 100%;
	margin-bottom: 10%;
	aspect-ratio: 6 / 2;
}

#example_website_1_stats_companies_text_div {
	display: flex;
	height: auto;
	width: 50%;
	align-items: center;
	aspect-ratio: 3 / 2;
}

#example_website_1_stats_companies_text {
	color: white;
	font-family: sans-serif;
	font-size: 75px;
	font-weight: normal;
	margin: 0px;
	margin-left: 10%;
	margin-right: 10%;
	user-select: none;
}

#example_website_1_stats_companies_img {
	height: auto;
	width: 50%;
	background-color: grey;
	aspect-ratio: 3 / 2;
}

#example_website_1_stats_support {
	display: flex;
	height: auto;
	width: 100%;
	margin-bottom: 10%;
	flex-direction: row-reverse;
	aspect-ratio: 6 / 2;
}

#example_website_1_stats_support_text_div {
	display: flex;
	height: auto;
	width: 50%;
	align-items: center;
	aspect-ratio: 3 / 2;
}

#example_website_1_stats_support_text {
	color: white;
	font-family: sans-serif;
	font-size: 75px;
	font-weight: normal;
	margin: 0px;
	margin-left: 10%;
	margin-right: 10%;
	user-select: none;
}

#example_website_1_stats_support_img {
	height: auto;
	width: 50%;
	background-color: grey;
	aspect-ratio: 3 / 2;
}

#example_website_1_stats_speed {
	display: flex;
	height: auto;
	width: 100%;
	margin-bottom: 10%;
	aspect-ratio: 6 / 2;
}

#example_website_1_stats_speed_text_div {
	display: flex;
	height: auto;
	width: 50%;
	align-items: center;
	aspect-ratio: 3 / 2;
}

#example_website_1_stats_speed_text {
	color: white;
	font-family: sans-serif;
	font-size: 75px;
	font-weight: normal;
	margin: 0px;
	margin-left: 10%;
	margin-right: 10%;
	user-select: none;
}

#example_website_1_stats_speed_img {
	height: auto;
	width: 50%;
	background-color: grey;
	aspect-ratio: 3 / 2;
}

#example_website_1_aboutus {
	display: none;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#example_website_1_aboutus_head {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-image: url('assets/example_images/office_room.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	aspect-ratio: 800 / 400;
}

#example_website_1_aboutus_head_h1 {
	color: white;
	font-family: sans-serif;
	font-size: 100px;
	user-select: none;
}

#example_website_1_services {
	display: none;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#example_website_1_services_placeholder {
	color: white;
	font-family: sans-serif;
	font-size: 80px;
	margin: 0px;
	margin-top: 10%;
	margin-bottom: 10%;
}

#example_website_1_pricing {
	display: none;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#example_website_1_pricing_placeholder {
	color: white;
	font-family: sans-serif;
	font-size: 80px;
	margin: 0px;
	margin-top: 10%;
	margin-bottom: 10%;
}

#example_website_1_contact {
	display: none;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#example_website_1_contact_placeholder {
	color: white;
	font-family: sans-serif;
	font-size: 80px;
	margin: 0px;
	margin-top: 10%;
	margin-bottom: 10%;
}

#example_website_1_footer {
	display: flex;
	height: 30vh;
	width: 100%;
	margin: 0px;
	background-color: #161616;
}

#example_website_2 {
	display: none;
	width: 100%;
	background-color: #1c1c1c;
	z-index: 200;
}

#example_website_3 {
	display: none;
	width: 100%;
	background-color: #1c1c1c;
	z-index: 200;
}

footer {
	display: flex;
	height: 30vh;
	width: 100%;
	bottom: 0px;
	margin: 0px;
	justify-content: space-between;
	align-items: center;
	background-color: #161616;
}

#email {
	width: 25vw;
	font-family:sans-serif;
	font-size: 15px;
	margin-left: 10%;
	color: #0000EE;
	user-select: none;
}

#legal {
	display: flex;
	height: 80%;
	width: 25vw;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#legal_title {
	color: white;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	margin: 0px;
	margin-bottom: 5%;
	user-select: none;
}

.legal_link {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	margin: 0px;
	margin-bottom: 2%;
	cursor: pointer;
	user-select: none;
	transition: 150ms;
	color: white;
}

.legal_link:hover {
	transition: 150ms;
	color: #aaaaaa;
}

#quick_nav {
	display: flex;
	height: 80%;
	width: 25vw;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0px;
	margin-right: 10%;
}

#quick_nav_title {
	color: white;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	margin: 0px;
	margin-bottom: 3%;
	user-select: none;
}

.quick_nav_link {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	margin: 0px;
	margin-bottom: 2%;
	cursor: pointer;
	user-select: none;
	transition: 150ms;
	color: white;
}

.quick_nav_link:hover {
	transition: 150ms;
	color: #aaaaaa;
}

#quick_nav_home_link {
	text-decoration-line: underline;
	margin-bottom: 3%;
}

#image_credits {
	display: none;
	width: 100%;
	flex-direction: column;
	background-color: #1c1c1c;
	overflow-x: hidden;
}

#image_credits_h1 {
	font-family: sans-serif;
	font-size: 60px;
	font-weight: normal;
	margin: 0px;
	margin-top: 5%;
	margin-bottom: 10%;
	margin-left: 5%;
	color: white;
	user-select: none;
}

#image_credits_timeline_img {
	display: flex;
	height: 30vh;
	width: auto;
	background-image: url('assets/aboutme/timeline.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 1 / 1;
}

#image_credits_timeline_dark_img {
	display: flex;
	height: 30vh;
	width: auto;
	background-image: url('assets/aboutme/timeline_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 1 / 1;
}

#image_credits_timeline {
	width: 100%;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: white;
	margin: 0px;
	margin-left: 5%;
	margin-bottom: 10%;
}

#image_credits_timeline_html_img {
	display: flex;
	height: 30vh;
	width: auto;
	background-image: url('assets/logos/html5.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 1 / 1;
}

#image_credits_timeline_html_dark_img {
	display: flex;
	height: 30vh;
	width: auto;
	background-image: url('assets/logos/html5_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 1 / 1;
}

.image_credits_timeline_html {
	width: 100%;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: white;
	margin: 0px;
	margin-left: 5%;
	margin-bottom: 10%;
}

#image_credits_timeline_css_img {
	display: flex;
	height: 30vh;
	width: auto;
	background-image: url('assets/logos/css3.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 726 / 1025;
}

#image_credits_timeline_css_dark_img {
	display: flex;
	height: 30vh;
	width: auto;
	background-image: url('assets/logos/css3_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 726 / 1025;
}

.image_credits_timeline_css {
	width: 100%;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: white;
	margin: 0px;
	margin-left: 5%;
	margin-bottom: 10%;
}

#image_credits_timeline_js_img {
	display: flex;
	height: 30vh;
	width: auto;
	background-image: url('assets/logos/js.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 1 / 1;
}

#image_credits_timeline_js {
	width: 100%;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: white;
	margin: 0px;
	margin-left: 5%;
	margin-bottom: 10%;
}

#image_credits_timeline_react_img {
	display: flex;
	height: 30vh;
	width: auto;
	background-image: url('assets/logos/react.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 241 / 209;
}

#image_credits_timeline_react {
	width: 100%;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: white;
	margin: 0px;
	margin-left: 5%;
	margin-bottom: 20%;
}

#image_credits_cubing_solve_img {
	display: flex;
	height: 30vh;
	width: auto;
	background-image: url('assets/aboutme/solve.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 500 / 283;
}

#image_credits_cubing_solve {
	width: 100%;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: white;
	margin: 0px;
	margin-left: 5%;
	margin-bottom: 10%;
}

#image_credits_cubing_algs_img {
	display: flex;
	height: 30vh;
	width: auto;
	background-image: url('assets/aboutme/algs.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 200 / 83;
}

#image_credits_cubing_algs {
	width: 100%;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: white;
	margin: 0px;
	margin-left: 5%;
	margin-bottom: 10%;
}

#tos {
	display: none;
	width: 100%;
	flex-direction: column;
	background-color: #1c1c1c;
}

#tos_h1 {
	font-family: sans-serif;
	font-size: 60px;
	font-weight: normal;
	margin: 0px;
	margin-top: 5%;
	margin-bottom: 10%;
	margin-left: 5%;
	color: white;
	user-select: none;
}
