* {
	margin: 0px;
}

body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	overflow-anchor: none;
	overflow-x: hidden;
	background-color: #1c1c1c;
	color: white;
}

div {
	font-family: sans-serif;
}

h1 {
	font-family: sans-serif;
	font-weight: normal;
}

h2 {
	font-family: sans-serif;
	font-weight: normal;
}

h3 {
	font-family: sans-serif;
	font-weight: normal;
}

a {
	font-family: sans-serif;
	user-select: none;
}

header {
	display: flex;
	width: 100%;
	height: 10vh;
	position: fixed;
	align-items: center;
	top: 0px;
	background-color: #1c1c1c;
	z-index: 5;
}

#logo {
	font-size: 30px;
	margin-left: 7%;
	cursor: pointer;
	user-select: none;
}

nav {
	display: flex;
	width: 30%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	right: calc(9% + 65px);
}

.nav_link {
	font-size: 20px;
	cursor: pointer;
	transition: 150ms;
	color: white;
}

.nav_link:hover {
	transition: 150ms;
	color: #aaaaaa;
}

#home_link {
	text-decoration-line: underline;
}

.light_dark_mode_switch {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	right: 7%;
	transform: translate(0, -50%);
	cursor: pointer;
}

#switch_to_dark_mode {
	display: none;
	background-image: url('assets/light_dark_switch/moon.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#switch_to_light_mode {
	display: flex;
	background-image: url('assets/light_dark_switch/sun.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#header_line {
	display: flex;
	width: 90%;
	height: 2%;
	background-color: white;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%, 0%);
}

main {
	display: flex;
	width: 100%;
	margin-top: 10vh;
}

@keyframes fadein-h1 {
	from {color: #1c1c1c; margin-top: 25%;}
	to {color: white; margin-top: 12%;}
}

@keyframes fadein-bio {
	from {color: #1c1c1c;}
	to {color: white;}
}

#home {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#home_h1 {
	font-size: 130px;
	color: #1c1c1c;
	text-align: center;
	margin-top: 12%;
	margin-bottom: 5%;
	animation-name: fadein-h1;
	animation-duration: 1.3s;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}

#home_bio {
	font-size: 35px;
	color: #1c1c1c;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 20%;
	animation-name: fadein-bio;
	animation-duration: 1.3s;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}

#home_work_div {
	display: flex;
	width: 60%;
	margin-bottom: 10%;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5%;
}

.home_work_intro {
	font-size: 35px;
	text-align: center;
}

#home_work_link {
	color: #0000EE;
	text-decoration-line: underline;
	cursor: pointer;
	user-select: auto;
}

#home_preview_card {
	display: flex;
	width: 100%;
	height: 60vh;
	justify-content: center;
	align-items: center;
	margin-bottom: 10%;
}

#home_preview_card_img {
	display: flex;
	width: auto;
	height: 100%;
	border-radius: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	background-image: url('assets/example_websites_previews/example_website_1_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
	aspect-ratio: 16 / 9;
}

#home_preview_card_arrow_left {
	display: flex;
	width: 50px;
	height: 50px;
	margin-right: 5%;
	background-image: url('assets/icons/arrow_left_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
	visibility: hidden;
	cursor: pointer;
}

#home_preview_card_arrow_right {
	display: flex;
	width: 50px;
	height: 50px;
	margin-left: 5%;
	background-image: url('assets/icons/arrow_right_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

#work {
	display: none;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#work_h1 {
	font-size: 80px;
	text-align: center;
	margin-top: 8%;
	margin-bottom: 10%;
}

#work_examples_div {
	display: grid;
	gap: 10%;
	justify-content: center;
	align-items: center;
	grid-template-rows: 60vh 60vh 60vh;
	grid-template-columns: auto auto;
	margin-bottom: 30%;
}

.work_examples {
	display: flex;
	width: auto;
	height: 60vh;
	border-radius: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	aspect-ratio: 16 / 9;
}

#work_example_1 {
	background-image: url('assets/example_websites_previews/example_website_1_dark.png');
	background-size: contain;
	background-repeat: no-repeat;
}

#work_example_2 {
	background-color: gray;
}

#work_example_3 {
	background-color: blue;
}

.work_examples_btn {
	display: flex;
	width: 250px;
	height: 80px;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	background-color: green;
	cursor: pointer;
	user-select: none;
}

.work_examples_btn_h1 {
	font-size: 30px;
}

#aboutme {
	display: none;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#aboutme_h1 {
	font-size: 80px;
	text-align: center;
	margin-top: 8%;
	margin-bottom: 10%;
}

#aboutme_dev {
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
	margin-bottom: 5%;
}

#aboutme_dev_text {
	display: flex;
	width: 60%;
	align-items: center;
	flex-direction: column;
}

#aboutme_dev_text_title {
	font-size: 60px;
	text-align: center;
	margin-top: 3%;
	margin-bottom: 5%;
}

#aboutme_dev_text_text {
	font-size: 30px;
	text-align: center;
	margin-left: 3%;
	margin-right: 5%;
	margin-bottom: 3%;
}

#aboutme_dev_img {
	display: flex;
	width: 30%;
	flex-direction: column;
	background-image: url('assets/aboutme/timeline_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#aboutme_cubing {
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: row-reverse;
	justify-content: center;
	margin-bottom: 10%;
}

#aboutme_cubing_text {
	display: flex;
	width: 60%;
	align-items: center;
	flex-direction: column;
}

#aboutme_cubing_text_title {
	font-size: 60px;
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
}

#aboutme_cubing_text_text {
	font-size: 30px;
	text-align: center;
	margin-left: 3%;
	margin-right: 5%;
	margin-bottom: 3%;
}

#aboutme_cubing_imgs {
	display: flex;
	width: 30%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#aboutme_cubing_imgs_solve_img {
	display: flex;
	width: 100%;
	margin-bottom: 5%;
	background-image: url('assets/aboutme/solve.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	aspect-ratio: 500 / 283;
}

#aboutme_cubing_imgs_algs_img {
	display: flex;
	width: 100%;
	background-image: url('assets/aboutme/algs.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	aspect-ratio: 200 / 83;
}

#contact {
	display: none;
	width: 100%;
	height: 60vh;
	flex-direction: column;
	align-items: center;

}

#contact_h1 {
	font-size: 80px;
	text-align: center;
	margin-top: 8%;
	margin-bottom: 5%;
}

#contact_email {
	font-size: 30px;
	text-align: center;
	margin-bottom: 10%;
	margin-left: 20%;
	margin-right: 20%;
	user-select: auto;
}

#example_website_1 {
	display: none;
	width: 100%;
	flex-direction: column;
	z-index: 200;
}

#example_website_1_header {
	display: flex;
	width: 100%;
	height: 15vh;
	align-items: center;
	justify-content: space-between;
}

#example_website_1_logo {
	display: flex;
	height: 65%;
	background-image: url('assets/example_logos/example_logo_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-left: 3%;
	cursor: pointer;
	aspect-ratio: 1 / 1;
}

#example_website_1_nav {
	display: flex;
	width: 45%;
	height: 100%;
	margin-right: 5%;
	justify-content: space-between;
	align-items: center;
}

.example_website_1_nav_link {
	font-size: 19px;
	cursor: pointer;
	user-select: none;
	transition: 150ms;
	color: white;
}

.example_website_1_nav_link:hover {
	transition: 150ms;
	color: #aaaaaa;
}

#example_website_1_home_link {
	text-decoration-line: underline;
}

#example_website_1_main {
	display: flex;
	width: 100%;
}

#example_website_1_home {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#example_website_1_hero {
	display: flex;
	width: 100%;
	height: 60vh;
	margin-top: 5%;
	padding-left: 3%;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

#example_website_1_hero_h1 {
	width: 50%;
	font-size: 60px;
	font-weight: bold;
	margin-left: 3%;
	margin-bottom: 3%;
}

#example_website_1_hero_text {
	width: 50%;
	font-size: 26px;
	margin-left: 3%;
	margin-bottom: 3%;
}

#example_website_1_hero_btn {
	display: flex;
	width: 20%;
	height: 15%;
	font-size: 25px;
	justify-content: center;
	align-items: center;
	margin-left: 3%;
	border-radius: 1000px;
	background-color: green;
	cursor: pointer;
	user-select: none;
}

#example_website_1_whyus {
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
	justify-content: center;
	margin-top: 15%;
}

#example_website_1_whyus_title {
	font-size: 60px;
	text-align: center;
	margin-bottom: 5%;
}

#example_website_1_whyus_text {
	font-size: 30px;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 10%;
}

#example_website_1_stats {
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
	margin-top: 10%;
	margin-bottom: 10%;
}

#example_website_1_stats_companies {
	display: flex;
	width: 100%;
	height: auto;
	margin-bottom: 10%;
	aspect-ratio: 3 / 1;
}

#example_website_1_stats_companies_text_div {
	display: flex;
	width: 50%;
	height: auto;
	align-items: center;
	aspect-ratio: 3 / 2;
}

#example_website_1_stats_companies_text {
	font-size: 75px;
	margin-left: 10%;
	margin-right: 10%;
}

#example_website_1_stats_companies_img {
	width: 50%;
	height: auto;
	background-image: url('assets/example_images/laptop.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	aspect-ratio: 3 / 2;
}

#example_website_1_stats_support {
	display: flex;
	width: 100%;
	height: auto;
	margin-bottom: 10%;
	flex-direction: row-reverse;
	aspect-ratio: 3 / 1;
}

#example_website_1_stats_support_text_div {
	display: flex;
	width: 50%;
	height: auto;
	align-items: center;
	aspect-ratio: 3 / 2;
}

#example_website_1_stats_support_text {
	font-size: 75px;
	margin-left: 10%;
	margin-right: 10%;
}

#example_website_1_stats_support_img {
	width: 50%;
	height: auto;
	background-image: url('assets/example_images/customer_service.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	aspect-ratio: 3 / 2;
}

#example_website_1_stats_speed {
	display: flex;
	width: 100%;
	height: auto;
	margin-bottom: 10%;
	aspect-ratio: 3 / 1;
}

#example_website_1_stats_speed_text_div {
	display: flex;
	width: 50%;
	height: auto;
	align-items: center;
	aspect-ratio: 3 / 2;
}

#example_website_1_stats_speed_text {
	font-size: 75px;
	margin-left: 10%;
	margin-right: 10%;
}

#example_website_1_stats_speed_img {
	width: 50%;
	height: auto;
	background-image: url('assets/example_images/business_meeting.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	aspect-ratio: 3 / 2;
}

#example_website_1_aboutus {
	display: none;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#example_website_1_aboutus_head {
	display: flex;
	width: 100%;
	height: 90vh;
	justify-content: center;
	align-items: center;
	background-image: url('assets/example_images/office_room.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 10%;
}

#example_website_1_aboutus_head_h1 {
	font-size: 100px;
	font-weight: bold;
}

#example_website_1_aboutus_ourmission {
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 3%;
	margin-bottom: 15%;
}

#example_website_1_aboutus_ourmission_text {
	display: flex;
	width: 65%;
	height: auto;
	flex-direction: column;
}

#example_website_1_aboutus_ourmission_text_heading {
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 4%;
}

#example_website_1_aboutus_ourmission_text_text {
	font-size: 25px;
}

#example_website_1_aboutus_ourmission_imgs {
	display: flex;
	width: 12%;
	height: 70%;
	justify-content: space-between;
	flex-direction: column;
}

#example_website_1_aboutus_ourmission_imgs_lightbulb {
	display: flex;
	width: 100%;
	height: 100%;
	background-image: url('assets/icons/lightbulb_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
}

#example_website_1_aboutus_ourmission_imgs_htmx {
	display: flex;
	width: 100%;
	height: 100%;
	background-image: url('assets/icons/htmx_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
}

#example_website_1_aboutus_ourmission_imgs_coffee {
	display: flex;
	width: 100%;
	height: 100%;
	background-image: url('assets/icons/coffee_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
}

#example_website_1_aboutus_ourmission_text_2 {
	display: flex;
	width: 80%;
	height: auto;
	font-size: 25px;
	gap: 0px;
}

#example_website_1_services {
	display: none;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#example_website_1_services_head {
	display: flex;
	width: 100%;
	height: 90vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url('assets/example_images/laptop_2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 10%;
}

#example_website_1_services_head_h1 {
	font-weight: bold;
	font-size: 100px;
}

#example_website_1_services_scaleserv {
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
	align-items: center;
	gap: 5%;
	margin-top: 5%;
	margin-bottom: 10%;
}

#example_website_1_services_scaleserv_img {
	display: flex;
	width: 30%;
	height: auto;
	background-image: url('assets/example_images/services_image.png');
	background-repeat: no-repeat;
	background-size: contain;
	aspect-ratio: 3 / 5;
}

#example_website_1_services_scaleserv_text {
	display: flex;
	width: 55%;
	height: auto;
	flex-direction: column;
}

#example_website_1_services_scaleserv_text_heading {
	font-weight: bold;
	font-size: 60px;
	margin-bottom: 4%;
}

#example_website_1_services_scaleserv_text_text {
	font-size: 25px;
	margin-bottom: 3%;
}

#example_website_1_pricing {
	display: none;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#example_website_1_pricing_table {
	display: flex;
	width: 90%;
	margin-top: 3%;
	margin-bottom: 10%;
	border-style: solid;
	border-color: #9a9a9a;
	border-width: 3px;
	border-radius: 20px;
}

.example_website_1_pricing_table_col {
	display: flex;
	width: 25%;
	flex-direction: column;
	border-right-style: solid;
	border-right-color: #9a9a9a;
	border-right-width: 3px;
}

#example_website_1_pricing_table_features {
	width: calc(25% - 9px);
}

#example_website_1_pricing_table_enterprise {
	border-right: none;
}

.example_website_1_pricing_table_h1 {
	display: flex;
	width: 100%;
	font-size: 36px;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	border-bottom-style: solid;
	border-bottom-color: #9a9a9a;
	border-bottom-width: 1px;
	aspect-ratio: 3 / 1;
}

#example_website_1_pricing_table_features_h1 {
	aspect-ratio: 291 / 100;
}

.example_website_1_pricing_table_price {
	display: flex;
	width: 100%;
	font-size: 22px;
	justify-content: center;
	align-items: center;
	background-color: #181818;
	aspect-ratio: 3 / 1;
}

#example_website_1_pricing_table_features_price {
	aspect-ratio: 291 / 100;
}

.example_website_1_pricing_table_analytics {
	display: flex;
	width: 100%;
	font-size: 22px;
	justify-content: center;
	align-items: center;
	aspect-ratio: 3 / 1;
}

#example_website_1_pricing_table_features_analytics {
	aspect-ratio: 291 / 100;
}

.example_website_1_pricing_table_cost_optimization {
	display: flex;
	width: 100%;
	font-size: 22px;
	justify-content: center;
	align-items: center;
	background-color: #181818;
	aspect-ratio: 3 / 1;
}

#example_website_1_pricing_table_features_cost_optimization {
	aspect-ratio: 291 / 100;
}

.example_website_1_pricing_table_security {
	display: flex;
	width: 100%;
	font-size: 22px;
	justify-content: center;
	align-items: center;
	aspect-ratio: 3 / 1;
}

#example_website_1_pricing_table_features_security {
	aspect-ratio: 291 / 100;
}

.example_website_1_pricing_table_automation {
	display: flex;
	width: 100%;
	font-size: 22px;
	justify-content: center;
	align-items: center;
	background-color: #181818;
	aspect-ratio: 3 / 1;
}

#example_website_1_pricing_table_features_automation {
	aspect-ratio: 291 / 100;
}

.example_website_1_pricing_table_ai_features {
	display: flex;
	width: 100%;
	font-size: 22px;
	justify-content: center;
	align-items: center;
	aspect-ratio: 3 / 1;
}

#example_website_1_pricing_table_features_ai_features {
	aspect-ratio: 291 / 100;
}

#example_website_1_contact {
	display: none;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#example_website_1_contact_placeholder {
	font-size: 80px;
	margin-top: 10%;
	margin-bottom: 10%;
}

#example_website_1_footer {
	display: flex;
	width: 100%;
	height: 30vh;
	background-color: #161616;
}

#example_website_2 {
	display: none;
	width: 100%;
	z-index: 200;
}

#example_website_3 {
	display: none;
	width: 100%;
	z-index: 200;
}

footer {
	display: flex;
	width: 100%;
	height: 30vh;
	bottom: 0px;
	justify-content: space-between;
	align-items: center;
	background-color: #161616;
}

#email {
	width: 25vw;
	font-size: 15px;
	margin-left: 10%;
	color: #0000EE;
	user-select: auto;
}

#legal {
	display: flex;
	width: 25vw;
	height: 80%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#legal_title {
	font-size: 30px;
	text-align: center;
	margin-bottom: 5%;
}

.legal_link {
	font-size: 20px;
	text-align: center;
	margin-bottom: 2%;
	cursor: pointer;
	transition: 150ms;
	color: white;
}

.legal_link:hover {
	transition: 150ms;
	color: #aaaaaa;
}

#quick_nav {
	display: flex;
	width: 25vw;
	height: 80%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 10%;
}

#quick_nav_title {
	font-size: 30px;
	text-align: center;
	margin-bottom: 3%;
}

.quick_nav_link {
	font-size: 20px;
	text-align: center;
	margin-bottom: 2%;
	cursor: pointer;
	transition: 150ms;
	color: white;
}

.quick_nav_link:hover {
	transition: 150ms;
	color: #aaaaaa;
}

#quick_nav_home_link {
	text-decoration-line: underline;
	margin-bottom: 3%;
}

#image_credits {
	display: none;
	width: 100%;
	flex-direction: column;
	overflow-x: hidden;
}

#image_credits_h1 {
	font-size: 60px;
	margin-top: 5%;
	margin-bottom: 10%;
	margin-left: 5%;
}

#image_credits_timeline_img {
	display: flex;
	width: auto;
	height: 30vh;
	background-image: url('assets/aboutme/timeline.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 1 / 1;
}

#image_credits_timeline_dark_img {
	display: flex;
	width: auto;
	height: 30vh;
	background-image: url('assets/aboutme/timeline_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 1 / 1;
}

#image_credits_timeline {
	width: 100%;
	font-size: 20px;
	margin-left: 5%;
	margin-bottom: 10%;
}

#image_credits_timeline_html_img {
	display: flex;
	width: auto;
	height: 30vh;
	background-image: url('assets/logos/html5.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 1 / 1;
}

#image_credits_timeline_html_dark_img {
	display: flex;
	width: auto;
	height: 30vh;
	background-image: url('assets/logos/html5_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 1 / 1;
}

.image_credits_timeline_html {
	width: 100%;
	font-size: 20px;
	margin-left: 5%;
	margin-bottom: 10%;
}

#image_credits_timeline_css_img {
	display: flex;
	width: auto;
	height: 30vh;
	background-image: url('assets/logos/css3.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 726 / 1025;
}

#image_credits_timeline_css_dark_img {
	display: flex;
	width: auto;
	height: 30vh;
	background-image: url('assets/logos/css3_dark.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 726 / 1025;
}

.image_credits_timeline_css {
	width: 100%;
	font-size: 20px;
	margin-left: 5%;
	margin-bottom: 10%;
}

#image_credits_timeline_js_img {
	display: flex;
	width: auto;
	height: 30vh;
	background-image: url('assets/logos/js.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 1 / 1;
}

#image_credits_timeline_js {
	width: 100%;
	font-size: 20px;
	margin-left: 5%;
	margin-bottom: 10%;
}

#image_credits_timeline_react_img {
	display: flex;
	width: auto;
	height: 30vh;
	background-image: url('assets/logos/react.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 241 / 209;
}

#image_credits_timeline_react {
	width: 100%;
	font-size: 20px;
	margin-left: 5%;
	margin-bottom: 20%;
}

#image_credits_cubing_solve_img {
	display: flex;
	width: auto;
	height: 30vh;
	background-image: url('assets/aboutme/solve.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 500 / 283;
}

#image_credits_cubing_solve {
	width: 100%;
	font-size: 20px;
	margin-left: 5%;
	margin-bottom: 10%;
}

#image_credits_cubing_algs_img {
	display: flex;
	width: auto;
	height: 30vh;
	background-image: url('assets/aboutme/algs.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 5%;
	margin-bottom: 3%;
	aspect-ratio: 200 / 83;
}

#image_credits_cubing_algs {
	width: 100%;
	font-size: 20px;
	margin-left: 5%;
	margin-bottom: 10%;
}

#tos {
	display: none;
	width: 100%;
	flex-direction: column;
}

#tos_h1 {
	font-size: 60px;
	margin-top: 5%;
	margin-bottom: 10%;
	margin-left: 5%;
}
