html, body {
	margin: 0;
	display: inline;
	height: 100%;
	width: 100%;
}

#tabIndicator {
	display: flex;
	height: 80px;
	width: 350px;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%, 0%);
}

.TabIndicator {
	height: 5px;
	width: 50px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
}

#ChipsCounter {
	height: 50px;
	width: 165px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 10px;
	right: 10px;
	background: rgba(30, 30, 30, 0.3);
	border: solid;
	border-color: rgba(30, 30, 30, 1);
	border-width: 4px;
}

#chipsCounter {
	color: white;
	font-family: helvetica;
}

#LeftArrow {
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 70px;
	z-index: 2;
}

#leftArrowV {
	color: white;
	font-size: 110px;
	font-weight: bold;
	user-select: none;
}

#leftArrowV:hover {
	cursor: pointer;
}

#RightArrow {
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 70px;
	z-index: 2;
}

#rightArrowV {
	color: white;
	font-size: 110px;
	font-weight: bold;
	user-select: none;
}

#rightArrowV:hover {
	cursor: pointer;
}

#arrowCorrectDiv {
	height: 100%;
	width: 100%;
	z-index: 1;
	display: flex;
	align-items: center;
}

.Tabs {
	height: calc(100% - 150px);
	width: calc(100% - 360px);
	display: flex;
	position: absolute;
	bottom: 50px;
}

#tabSlots {
	display: flex;
}

#tabSlotsFixed {
	height: 100%;
	width: 30%;
	display: flex;
	justify-content: space-between;
}

.SlotsFixed {
	height: 97%;
	width: 45%;
	border-radius: 20px;
	background: red;
	z-index: 1;
}

.SlotsFixed:hover, .SlotsFlex:hover {
	cursor: pointer;
}

#tabSlotsFlex {
	height: 100%;
	width: 70%;
	display: flex;
	justify-content: space-evenly;
	align-items: space-between;
	flex-wrap: wrap;
}

.SlotsFlex {
	height: 47%;
	width: 21%;
	border-radius: 20px;
	background: black;
	z-index: 1;
}

#tabTable {
	display: none;
}

#tabTablePoker {
	height: 96%;
	width: 35%;
	display: flex;
	justify-content: center;
}

#pokerArt {
	height: 100%;
	width: 97%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-radius: 20px;
	background: red;
	flex-direction: column;
	flex-wrap: wrap;
}

#pokerTexasHoldem {
	height: 15%;
	width: 90%;
	border-radius: 20px;
	background: blue;
	z-index: 1;
}

#pokerOmahaHoldem {
	height: 15%;
	width: 90%;
	border-radius: 20px;
	background: brown;
	margin: 5%;
	z-index: 1;
}

#tabTableRest {
	height: 100%;
	width: 65%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.Table {
	height: 46%;
	width: 43%;
	background: black;
	border-radius: 20px;
	z-index: 1;
}

.Table:hover, #pokerTexasHoldem:hover, #pokerOmahaHoldem:hover {
	cursor: pointer;
}

#tabCorrectDiv {
	height: 100%;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: center;
}
