html, body {
	margin: 0;
	display: inline;
	height: 100%;
	width: 100%;
}

#tabIndicator {
	display: flex;
	height: 80px;
	width: 350px;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%, 0%);
}

.TabIndicator {
	height: 5px;
	width: 50px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
}

#ChipsCounter {
	height: 50px;
	width: 165px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 10px;
	right: 10px;
	background: rgba(30, 30, 30, 0.3);
	border: solid;
	border-color: rgba(30, 30, 30, 1);
	border-width: 4px;
}

#chipsCounter {
	color: white;
	font-family: helvetica;
}

#LeftArrow {
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 70px;
	transform: translate(0%, -50%);
}

#leftArrowV {
	color: white;
	font-size: 110px;
	font-weight: bold;
	user-select: none;
}

#leftArrowV:hover {
	cursor: pointer;
}

#RightArrow {
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	right: 70px;
	transform: translate(0%, -50%);
}

#rightArrowV {
	color: white;
	font-size: 110px;
	font-weight: bold;
	user-select: none;
}

#rightArrowV:hover {
	cursor: pointer;
}

.Tabs {
	height: calc(100% - 150px);
	width: calc(100% - 360px);
	display: none;
	position: absolute;
	bottom: 50px;
	left: 180px;
}
