* {
	margin: 0px;
}

body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	overflow-anchor: none;
	overflow: hidden;
	background-color: white;
	color: black;
}

header {
	display: flex;
	width: 100%;
	height: 10vh;
	position: fixed;
	top: 0px;
	background-color: #00def2;
	z-index: 5;
}

main {
	display: flex;
	width: 100%;
	height: 80vh;
	margin-top: 10vh;
	align-items: center;
	gap: 2%;
}

#options {
	display: flex;
	width: 100%;
	height: 95%;
	flex-direction: column;
}

#qrcode_div {
	display: flex;
	height: 99%;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1 / 1;
	order: 1;
}

#qrcode {
	display: grid;
	aspect-ratio: 1 / 1;
}

#input {
	display: flex;
	width: 100%;
	height: 95%;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	order: 2;
}

#input_text {
	width: 92%;
	height: 84%;
	border-radius: 20px;
	padding-left: 10px;
	padding-top: 10px;
	font-family: sans-serif;
	font-size: 20px;
	resize: none;
}

#input_submit {
	width: 92%;
	height: 10%;
	color: white;
	background-color: #0f4ae0;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius: 20px;
	font-family: sans-serif;
	font-size: 22px;
	font-weight: bold;
}

footer {
	display: flex;
	width: 100%;
	height: 10vh;
	bottom: 0px;
	background-color: #eaeaea;
}
